In [3]:
import pandas as pd

df = pd.read_csv('Movies.csv')

df.fillna(0, inplace=True)
df.head()

,Index,Movie,Distributor,Genre,7-day_Gross,14-day_Gross,Total_US_Gross,International_Gross,US_DVD_Sales,Budget
0,1,The Texas Chainsaw Massacre: The Beginning,New Line,Horror,22707121.0,32109139.0,39517763,11000000.0,15909367.0,16000000.0
1,2,Year of the Dog,Paramount Vantage,Drama,141803.0,318598.0,1540141,0.0,0.0,0.0
2,3,War,Lionsgate,Action,12839402.0,0.0,22466994,18200000.0,27040983.0,25000000.0
3,4,Stomp the Yard,Sony Pictures,Drama,28263594.0,42853277.0,61356221,15000000.0,33166898.0,14000000.0
4,5,The Illusionist,Freestyle Releasing,Drama,0.0,0.0,39868642,44407533.0,38189217.0,16500000.0

1. Create a dataframe that counts the number of movies by genre and distributor. Calculate the total
 number of movies.

In [23]:
genre_distributor_count_df = df.groupby(['Genre', 'Distributor']).size().reset_index(name='NumberOfMovies')
genre_distributor_count_df

                Genre       Distributor  NumberOfMovies
0              Action  20th Century Fox               4
1              Action       Buena Vista               1
2              Action   Fox Searchlight               1
3              Action         Lionsgate               3
4              Action               MGM               1
..                ...               ...             ...
87  Thriller/Suspense  Sony/Screen Gems               2
88  Thriller/Suspense      Sony/TriStar               1
89  Thriller/Suspense         Universal               2
90  Thriller/Suspense      Warner Bros.               3
91  Thriller/Suspense     Weinstein Co.               1

[92 rows x 3 columns]

In [24]:
genre_distributor_count_df['NumberOfMovies'].sum()

211

2. Which distributor distributed the highest percentage of action movies?  
Which distributor
 distributed the highest percentage of adventure movies?

In [29]:
action_df = genre_distributor_count_df[genre_distributor_count_df['Genre'] == 'Action']
action_df[action_df['NumberOfMovies'] == action_df['NumberOfMovies'].max()]['Distributor']

0    20th Century Fox
Name: Distributor, dtype: object

3. For each distributor (i.e., there are a total of 28 distributors) show the total number of movies distributed by genre.  
 What is the total number of movies distributed by each distributor?  
 What is the total number of movies by genre?

In [30]:
distributor_genre_count_df = df.groupby(['Distributor', 'Genre']).size().reset_index(name='NumberOfMovies')
distributor_genre_count_df

            Distributor              Genre  NumberOfMovies
0      20th Century Fox             Action               4
1      20th Century Fox          Adventure               4
2      20th Century Fox             Comedy              12
3      20th Century Fox              Drama               2
4      20th Century Fox             Horror               2
..                  ...                ...             ...
87        Weinstein Co.        Documentary               1
88        Weinstein Co.              Drama               1
89        Weinstein Co.    Romantic Comedy               1
90        Weinstein Co.  Thriller/Suspense               1
91  Weinstein/Dimension             Horror               2

[92 rows x 3 columns]

In [31]:
distributor_count_df = df.groupby(['Distributor']).size().reset_index(name='NumberOfMovies')
distributor_count_df

                    Distributor  NumberOfMovies
0              20th Century Fox              25
1                   Buena Vista              16
2                Dreamworks SKG               3
3                Focus Features               5
4          Focus/Rogue Pictures               1
5               Fox Searchlight              17
6           Freestyle Releasing               1
7                     Lionsgate              13
8                           MGM               7
9                       Miramax               2
10            Miramax/Dimension               2
11                     New Line              10
12           Paramount Pictures              16
13            Paramount Vantage               5
14                 PictureHouse               3
15             Regent Releasing               1
16      Rocky Mountain Pictures               1
17         Samuel Goldwyn Films               1
18                Sony Pictures              26
19             Sony/Screen Gems               2
20                 Sony/TriStar               1
21        The Documentary Group               1
22           Typecast Releasing               1
23                    Universal              18
24                 Warner Bros.              22
25  Warner Independent Pictures               1
26                Weinstein Co.               8
27          Weinstein/Dimension               2

In [32]:
genre_count_df = df.groupby(['Genre']).size().reset_index(name='NumberOfMovies')
genre_count_df

               Genre  NumberOfMovies
0             Action              20
1          Adventure              23
2       Black Comedy               1
3             Comedy              56
4        Documentary               4
5              Drama              54
6             Horror              15
7            Musical               3
8    Romantic Comedy               9
9  Thriller/Suspense              26

4. For Buena Vista, which genre represented the highest percentage of genres distributed?

In [35]:
vista_df = distributor_genre_count_df[distributor_genre_count_df['Distributor'] == 'Buena Vista']
vista_df[vista_df['NumberOfMovies'] == vista_df['NumberOfMovies'].max()]['Genre']

7    Adventure
Name: Genre, dtype: object

5. What is the average US Gross sales for all movies for each distributor?  
What is the average US Gross sales for all movies for each genre?  
 What is the average US Gross sales of all movies?

In [ ]:
# 1)
df.groupby('Distributor')['Total_US_Gross'].mean().reset_index(name='Average_US_Gross')

# 2)
df.groupby('Genre')['Total_US_Gross'].mean().reset_index(name='Average_US_Gross')

# 3)
df['Total_US_Gross'].mean()

6. What is the average US DVD sales for all movies for each distributor?  
What is the average US DVD
 sales for all movies for each genre?  
 What is the average US DVD sales of all movies?

In [ ]:
# 1)
df.groupby('Distributor')['US_DVD_Sales'].mean().reset_index(name='Average_US_DVD_Sales')

# 2)
df.groupby('Genre')['US_DVD_Sales'].mean().reset_index(name='Average_US_DVD_Sales')

# 3)
df['US_DVD_Sales'].mean()